name: container-build-and-push

on:
  workflow_call:

permissions:
  id-token: write
  contents: write
  actions: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Project Repository
        uses: actions/checkout@v4
        with:
          path: project

      - name: Checkout Containerfiles Repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository_owner }}/containerfiles
          ref: main
          sparse-checkout: |
            ${{ vars.REPOSITORY_LANGUAGE }}
          sparse-checkout-cone-mode: false
          path: containerfiles

      - name: Check if `env.list` Exists
        run: |
          tree
          if [ ! -f "project/env.list" ]; then
            echo "env.list not found, creating an empty file..."
            touch project/env.list
          fi

      - name: Log in to Quay
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ vars.QUAY_ROBOT_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_PASSWORD }}
          registry: ${{ vars.QUAY_DOMAIN }}

      - name: Login to Docker Hub to download images
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772  # v3.4.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set sha
        id: short-sha
        run: |
          cd project
          sha_short=$(git rev-parse --short HEAD)
          echo "sha_short=$sha_short"
          echo "sha_short=$sha_short" >> $GITHUB_OUTPUT

      - name: Build with Buildah
        if: ${{ steps.short-sha.outputs.sha_short != '' }}
        id: build-image
        uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056  # v2
        with:
          image: ${{ github.event.repository.name }}
          tags: |
            latest
            ${{ steps.short-sha.outputs.sha_short }}
          containerfiles: |
            containerfiles/${{ vars.REPOSITORY_LANGUAGE }}/Containerfile
          build-args: |
            LANGUAGE_VERSION=${{ vars.REPOSITORY_LANGUAGE_VERSION }}
            APP_NAME=${{ vars.APP_NAME }}
            BUILD_FLAGS=${{ vars.BUILD_FLAGS }}
            ENV_FILE=env.list
          context: project/${{ vars.REPOSITORY_SOURCE_PATH }}
          oci: true
          extra-args: |
            --no-cache
            --platform linux/amd64

# TODO add --platform linux/arm64 build

      - name: Push To quay.io
        if: ${{ steps.build-image.outputs.image != '' }}
        id: push-to-quay
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: ${{ vars.QUAY_DOMAIN }}/${{ github.repository_owner }}
