name: tocgen
#  "Generate and Update Markdown TOCs"

on:
  workflow_call:

permissions:
  id-token: write
  contents: write

jobs:
  tocgen:
    name: "Auto-generate Markdown TOCs"
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Table Of Contents Generator
        uses: evoteum/tocgen@main

      - name: Commit and push changes
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git add .
            git commit -m "chore(docs): auto-update table of contents"
            git push
          else
            echo "No changes detected."
          fi
